# Core Framework
Flask==2.3.3
flask-cors==4.0.0

# MongoDB
pymongo==4.6.3

# Google APIs
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.127.0

# Machine Learning and Utilities
scikit-learn==1.5.2
joblib==1.4.2
nltk==3.8.1

# Text Summarization
sumy==0.11.0
